
*{
    margin: o;
    font-family:  'Open Sans', sans-serif;
  }
  /* Banner pannel */
  .header{
    background-image: url('../images/donation13.jpg');
    background-size: cover;
    height: 500px;
    box-shadow: 50px 6px 0px rgba(0, 0, 0, 0.06);

}
.banner{
    color: rgb(240, 248, 255);
    text-align: center;
    padding-top: 100px;
}
.btn-primary{
    background-color: hwb(340 2% 14%);
    height: 64px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}
/* work on 2nd pannel */

.donate{
    margin-top: 100px;
    text-align: center;
}
.d-discription{
    color:#6c6767;
    font-size: 16px;
    
}
.l-donate{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    list-style: none;

}
.text-box{
    border: 2px solid;
    padding: 25px;
    border-radius: 5px;
    background-color:whitesmoke;
    border: none;
    color: grey;
}
.snd-box{
    border: 2px solid rgb(225, 53, 82);
    color: rgb(202, 29, 58);;
    background-color:rgba(242, 196, 203, 0.526);
}
.next-donate{
    color: #6c6767;
    font-size: 16px;
}
/* Work on Third panel */
.donate-title{
    padding-top: 80px;
}
.donate-discription{
    font-size: 16px;
    color: #6c6767;
}
section{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
/* for make a box */
.donate-conteinar-one{
    border: 2px solid;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
    text-align: justify;
    background-color: rgb(223, 242, 242);
    border: none;


}
.donate-conteinar-two{
    border: 2px solid;
    padding: 25px;
    border-radius: 5px;
    width:400px;
    text-align: justify;
    background-color: rgb(246, 221, 225);
    border: none;


}
.donate-conteinar-three{
    border: 2px solid;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
    text-align: justify;
    background-color: beige;
    border: none;


}
.c-discription{
    color: #6c6767;
}